<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="weather2.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <div class="head">
        <h1>Weather Tell</h1>

        <img src="img1.png">
    </div>


    <div class="info">
    <h1><%=cityy%></h1>
    <h1><%=descc%></h1>
    <h1><%=tempp%></h1>

</div>
<div class="img">
    <img src="img1.png"
</div>

</body>
</html>